article {
  column-count: 3;
  column-gap: 21px;
  column-rule-width: 1px;
  column-rule-style: solid;
  column-rule-color: #000;
}
h1 {
  text-align: center;
  column-span: all;
}
p {
  margin-top: 0px;
  margin-bottom: 12px;
}
footer {
  column-span: all;
  margin: 20px;
  text-align: right;
}

